<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.javaapps.gdc"
    android:versionCode="1"
    android:versionName="0.0.1-SNAPSHOT" >

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Tests for My App"
        android:targetPackage="com.javaapps.gdc" />

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity android:name="com.javaapps.gdc.activities.GenericCollectorActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.javaapps.gdc.activities.SensorConfigurationActivity" >
        </activity>
 <activity android:name="com.javaapps.gdc.activities.ConfigurationActivity" >
        </activity>

        <receiver android:name="com.javaapps.gdc.receivers.DataUploaderReceiver" >
            <intent-filter>
                <action android:name="genericDataIntent" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.javaapps.gdc.receivers.LaunchAllReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="launchCollector" />
                <action android:name="android.intent.action.ACTION_MY_PACKAGE_REPLACED" />
                 <action android:name="android.intent.action.ACTION_REBOOT" />
            </intent-filter>
        </receiver>
          <receiver
            android:name="com.javaapps.gdc.receivers.DataCollectorReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="collectGenericData" />
             </intent-filter>
        </receiver>
    </application>

</manifest>